.responses-table .form-group:nth-child(odd) {
  background-color: #eee;
}
.responses-table {
  margin-top: 32px;
  border-top: 3px solid #eee;
  padding-top: 12px;
  border-bottom: 1px solid #eee;
}

.responses-table .form-group {
  padding: 8px 8px;
}

/**
 * @file
 * Webform example composite styles.
 */

.webform_example_composite_multiple-table--first_name {}

.webform_example_composite_multiple-table--last_name {}

.webform_example_composite_multiple-table--date_of_birth {}

.webform_example_composite_multiple-table--gender {
  min-width: 100px;
}

